{% extends 'app/base.html' %}

{% block content %}
    <br/>
    <div class="formBox">        
        <form method="POST">{% csrf_token %}
            {{ form }}
            <div class="activityList">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="title">
                  <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" name="add">Add</button>
                  </div>
                </div>
            </div>
        </form>
    </div>
    
    <h2>To Do</h2>
    <hr/>
    {% for activity in activities %}
        <div class="activityList">
            {% if not activity.done %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ forloop.counter }}</div>
              </div>
              <input type="text" class="form-control" value="{{ activity.title }}" disabled>
              <div class="input-group-append">
                <a class="btn btn-default btn btn-outline-success" href="{% url 'update' pk=activity.id %}">Done</a>
              </div>
              <div class="input-group-append">
                <a class="btn btn-default btn btn-outline-danger" href="{% url 'delete' pk=activity.id %}">Delete</a>
              </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <h2>Done</h2>
    <hr/>
    {% for activity in activities %}
        <div class="activityList">
            {% if activity.done %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">{{ forloop.counter }}</div>
              </div>
              <input type="text" class="form-control" value="{{ activity.title }}" disabled>
              <div class="input-group-append">
                <a class="btn btn-default btn btn-outline-primary" href="{% url 'update' pk=activity.id %}">Undo</a>
              </div>
              <div class="input-group-append">
                <a class="btn btn-default btn btn-outline-danger" href="{% url 'delete' pk=activity.id %}">Delete</a>
              </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}