{% extends 'app/base.html' %}

{% block content %}
    <br/>
    <div class="text-center">
        <h2>The Days</h2>
        <br/>
        <div class="jumbotron">
            <strong>The Days</strong> is a to do list application. A simple task management application that allows you to keep track of your activities. <br/>
            You can use this application as you please. Use it to make daily goals. Or a bucket list of things you want to do. <br/>
            Once an activity is added it can be marked as completed and also, deleted. You can also undo an activity.
            <br/><br/>
            Create an account to get started. Click on the <strong>Sign Up</strong> link up top to create an account. <br/>
            Once you have signed up you can <strong>login</strong> to begin listing!
            <br/><br/>
            Have a listacular time!
        </div>
    </div>
{% endblock %}